*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

/* ESTRUTURA HEADER */
header{
    /* flex-grow: 1; */
    background-color: #132235;
    color: white;
    display: flex;
    /* justify-content: space-evenly; */
}

li{
    list-style: none;
}

.box-logo{
    flex-grow: 1;
}

.box-logo img{
    height: 15vh;
}

.box-menu{
    flex-grow: 3;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.box-menu span:hover{
    border-bottom: 3px solid #5CB8B6;
    cursor: pointer;
}

.box-login{
    flex-grow: 2;
    margin: 0 auto;
    width: 40vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.box-login span{
    color: #5CB8B6;
    font-weight: bold;
}

.box-login span:hover{
    border-bottom: 3px solid #5CB8B6;
    cursor: pointer;
}

button{
    background-color: #5CB8B6;
    color: white;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
    background-color: #79F2EA;
}

button:active{
    cursor: pointer;
    background-color: #4E9C9A;
    color: black;
}

/* ESTRUTURA MAIN */
.container-main{
    display: flex;
    flex-direction: column;

}


.cont1-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7) url(./assets/pexels-rodnae-productions-4921514.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;  
    background-blend-mode: darken;
    color: white;
    height: 70vh;     /* Altura aplicada somente pela estetica da imagem de fundo. */
}

.cont1-main h1{
    font-size: 3.5vw;
}

.cont1-main h4{
    margin-bottom: 15px;
    font-size: 2vw;
}

.cont1-main input{
    border-radius: 12px;
    border: 1px solid #F7F7F7;
    height: 40px;
    width: 300px;
    padding-left: 1vw;
    margin-bottom: 8px;
}

.cont2-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.cont2-main h1{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 30px;
    border-top: 2px solid rgb(191, 191, 191);
    padding-top: 10px;
    width: 95%;
}

.sub-cont-imoveis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 80%;


}

#box-imovel{
    border: 1px solid rgb(191, 191, 191);
    height: 305px;
    width: 207px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;  
}

#box-imovel img{
    margin-bottom: 10px; 
}

.cont3-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cont3-main h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 40px;
    width: 95%;
    border-top: 2px solid rgb(191, 191, 191);
    padding-top: 10px;
}

.cont3-main button{
    background-color: #5CB8B6;
    color: white;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cont3-main button:hover{
    cursor: pointer;
    background-color: #79F2EA;
}

.cont3-main button:active{
    cursor: pointer;
    background-color: #4E9C9A;
    color: black;
}

.sub-cont-dep{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #132235;
    width: 95%;
    padding: 10px;
}

#box-dep {
    border: 2px solid rgb(191, 191, 191);
    border-radius: 8px;
    height: 450px;
    width: 300px;
    padding: 1vw;
    background-color: white;
}

#box-dep img{
    height: 70px;
    border-radius: 70%;
}

.cont4-main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(./assets/undraw_Positive_attitude_re_wu7d.png);
    background-repeat: no-repeat;
    background-size: 70vh;
    background-position:center;
    height: 100vh;
    padding: 10vw
}

.cont4-main button{
    background-color: #5CB8B6;
    color: white;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cont4-main button:hover{
    cursor: pointer;
    background-color: #79F2EA;
}

.cont4-main button:active{
    cursor: pointer;
    background-color: #4E9C9A;
    color: black;
}



/* ESTRUTURA FOOTER */
footer{
    background-color: #F7F7F7;
    display: flex;
}

.footer-introducao{
    width: 40vw;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 20px;
}

.footer-introducao img{
    height: 28px;
}

.footer-contatos{
    flex-grow: 1;
    font-size: 12px;
    padding-top: 20px;
    padding-left: 20px;
}

.footer-menu{
    flex-grow: 1;
    font-size: 12px;
    padding-top: 20px;
}

.section-footer-redes-sociais{
    padding-top: 30px;
}

.icon-social-media{
    height: 20px;
    margin-left: 15px;
}


@media screen and (min-device-width: 480px) and (max-device-width: 1000px){

    .box-menu{
        display: none;
    }

    .cont1-main{
        height: 50vh;
    }

    .sub-cont-imoveis{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap; 
    }

    .cont4-main{
        background-size: 60vh;
        background-position:left;
    }   
     
}


@media screen and (max-device-width: 480px){

    .box-menu{
        display: none;
    }

    .cont1-main{
        height: 30vh;
    }

    .cont1-main h1{
        font-size: 7vw;
        margin-bottom: 8px;
    }

    .cont1-main h4{
        display: none;
    }

    .sub-cont-imoveis{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;   
    }

    .cont3-main button{

        height: 40px;
        width: 240px;
        font-weight: bold;
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cont4-main{
        font-size: 2vh;
        background-size: 40vh;
        background-position:left;
    }

    .cont4-main button{
        height: 40px;
        width: 200px;
        font-weight: bold;
        font-size: 16px;
    }

    footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }   
    
}